{{page-title "Dashboard"}}

<main class="container">
  <h4 class="mt-5 text-center mb-5 text-white">DASHBOARD</h4>
  <div class="d-flex">
    <div class="cards">
      <LinkTo @route="inventory">
      <div class="row">
        <div class="col-4">
          <img src="inventory.svg" alt="">
        </div>
        <div class="col-8">
          <h6 class="card-heading">INVENTORY OVERVIEW</h6>
          <p class="card-sub">Track stock level and filter by category and brand</p>
        </div>
      </div>
      </LinkTo>
    </div>
    <div class="cards">
      <div class="row">
        <div class="col-4">
          <img src="sales-chart 1.svg" alt="">
        </div>
        <div class="col-8">
          <h6 class="card-heading">SALES</h6>
          <p class="card-sub">Track stock level and filter by category and brand</p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="row">
        <div class="col-4">
          <img src="revenue 1.svg" alt="">
        </div>
        <div class="col-8">
          <h6 class="card-heading">ORDERS</h6>
          <p class="card-sub">Track stock level and filter by category and brand</p>
        </div>
      </div>
    </div>
  </div>
</main>

